@model EditProductViewModel
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card mb-4">
    <h5 class="card-header">Düzenle - @Model.Product.ProductName</h5>
    <div class="card-body">
        <div class="accordion mt-3" id="accordionExample">
            <div class="card accordion-item active">
                <h2 class="accordion-header" id="headingOne">
                    <button type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#accordionOne" aria-expanded="true" aria-controls="accordionOne">Ürün & Stok Bilgilari</button>
                </h2>
                <div id="accordionOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <form asp-action="Edit" asp-controller="Admin" method="post">
                            @Html.HiddenFor(x => x.Product.ProductId)
                            <div class="mb-3 row">
                                <label for="html5-text-input" class="col-md-2 col-form-label">Ürün Adı</label>
                                <div class="col-md-10">
                                    <input class="form-control" asp-for="Product.ProductName" type="text" value="@Model.Product.ProductName" />
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="exampleFormControlSelect1" class="form-label">Marka</label>
                                @Html.DropDownListFor(x => x.Product.Brand.BrandId, (List<SelectListItem>)Model.BrandListItem, new { @class = "form-select" })
                            </div>

                            <div class="mb-3">
                                <label for="exampleFormControlSelect1" class="form-label">Kategori</label>
                                @Html.DropDownListFor(x => x.Product.Category.CategoryId, (List<SelectListItem>)Model.CategoryListItem, new { @class = "form-select" })

                            </div>

                            <div class="mb-3 row">
                                <label for="html5-search-input" class="col-md-2 col-form-label">Fiyat</label>
                                <div class="col-md-10">
                                    <input class="form-control" asp-for="Product.Price" type="text" value="@Model.Product.Price" />
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <label for="html5-email-input" class="col-md-2 col-form-label">Açıklama</label>
                                <div class="col-md-10">
                                    <input class="form-control" asp-for="Product.Description" type="text" value="@Model.Product.Description" />
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <label for="html5-url-input" class="col-md-2 col-form-label">Alt Açıklama</label>
                                <div class="col-md-10">
                                    <input class="form-control" asp-for="Product.SubDescription" type="text" value="@Model.Product.SubDescription" />
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <label for="html5-url-input" class="col-md-2 col-form-label">Stok Adedi</label>
                                <div class="col-md-10">
                                    <input class="form-control" asp-for="Product.UnitInStock" type="text" value="@Model.Product.UnitInStock" />
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <label for="html5-url-input" class="col-md-2 col-form-label">Renk</label>
                                <div class="col-md-10">
                                    <input class="form-control" asp-for="Product.Color" type="text" value="@Model.Product.Color" />
                                </div>
                            </div>

                            <div class="form-check form-switch mb-2">
                                @Html.CheckBoxFor(x => x.Product.Active, new { @class = "form-check-input" })
                                <label class="form-check-label" for="flexSwitchCheckDefault">Aktif</label>
                            </div>
                            <div class="form-check form-switch mb-2">
                                @Html.CheckBoxFor(x => x.Product.IsUpcomingProduct, new { @class = "form-check-input" })
                                <label class="form-check-label" for="flexSwitchCheckDefault">Gelecek Olaraka İşarele</label>
                            </div>

                            <br />
                            <button type="submit" class="btn btn-success">Kaydet</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
        <div class="accordion mt-3" id="accordionExample">
            <div class="card accordion-item active">
                <h2 class="accordion-header" id="headingOne">
                    <button type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#accordionTwo" aria-expanded="true" aria-controls="accordionTwo">
                        Resimler
                    </button>
                </h2>

                <div id="accordionTwo" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="table-responsive text-nowrap">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>ResimÖnizleme</th>
                                        <th>Sil</th>
                                    </tr>
                                </thead>
                                <tbody class="table-border-bottom-0">
                                    @foreach (var item in Model.Product.Images)
                                    {
                                        <tr>
                                            <td><img src="https://res.cloudinary.com/drwyecoiw/image/upload/c_scale,h_100,w_100/f_auto,q_auto/\@(item.PublicId)" style="max-height:100px;max-width:100px;" /></td>
                                            <td><a class="btn btn-outline-danger" href="~/Admin/DeleteImage?id=@item.ImageId&productId=@Model.Product.ProductId">Sil</a></td>
                                        </tr>
                                    }
                                    <tr></tr>
                                </tbody>
                            </table><br />
                        </div>
                        <h3><small class="text-muted">Resim Ekle</small></h3>
                        @* <form asp-action="UploadImage" asp-controller="Admin">

                        <input name="url" class="form-control" id="fileee" type="file" asp-route-ProductId="@Model.Product.ProductId" />
                        @Html.TextBox("file", "", new { name = "url", type = "file" })
                        <br />
                        <h1 id="label">aa</h1>
                        <button type="submit" class="btn btn-outline-success">Ekle</button>
                        </form> *@
                        <form action="/Admin/UploadImage" method="post" enctype="multipart/form-data">
                            <input name="ProductId" value="@Model.Product.ProductId" type="hidden" />
                            <label for="file">Resim Seç:</label>
                            <input type="file" name="file" id="file" />
                            <input type="submit" value="Yükle" />
                        </form>

                    </div>
                    @TempData["bilgi"]
                </div>
            </div>

            @section dosyaAl {

            }
