@model ProductAreaViewModel
<section class="owl-carousel active-product-area section_gap">
    <swiper-container pagination="true" pagination-clickable="true" loop="true" navigation="true" space-between="30"
                      centered-slides="true" autoplay-delay="2500" autoplay-disable-on-interaction="false">
        <swiper-slide>
            <div class="single-product-slider">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-6 text-center">
                            <div class="section-title">
                                <h1>Son Ürünler</h1>
                                <p>
                                    Sizlere Daha İyi Hizme Edebilmek İçin En Yeni Eklenen Ürünler
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        @foreach (var item in Model.products1)
                        {
                            <div class="col-lg-3 col-md-6">
                                <div class="single-product">
                                    <img src="@(item.Images.FirstOrDefault(x=>x.IsMain==true)?.PublicId==null?"https://res.cloudinary.com/drwyecoiw/image/upload/c_scale,h_250,w_250/f_auto,q_auto/vqzqxfbthc3ez7i18pim":"https://res.cloudinary.com/drwyecoiw/image/upload/c_scale,h_250,w_250/f_auto,q_auto/"+(item.Images.FirstOrDefault(x=>x.IsMain==true)?.PublicId))" alt="@item.ProductName" />
                                    <div class="product-details">
                                        <h6>
                                            @item.ProductName
                                        </h6>
                                        <div class="price">
                                            <h6>@item.Price ₺</h6>
                                        </div>
                                        <div class="prd-bottom">

                                            <a href="~/Sepet/AddToCart?productId=@item.ProductId" class="social-info">
                                                <span class="ti-bag"></span>
                                                <p class="hover-text">Sepete Ekle</p>
                                            </a>
                                            <a href="" class="social-info">
                                                <span class="lnr lnr-heart"></span>
                                                <p class="hover-text">İstek Listesi</p>
                                            </a>
                                            <a href="" class="social-info">
                                                <span class="lnr lnr-sync"></span>
                                                <p class="hover-text">Karşılaştır</p>
                                            </a>
                                            <a href="~/Ürün/Detay?urunAdi=@item.ProductName.Replace(" ","-")" class="social-info">
                                                <span class="lnr lnr-move"></span>
                                                <p class="hover-text">Detaylı İncele</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </swiper-slide>
        <swiper-slide>
            <div class="single-product-slider">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-6 text-center">
                            <div class="section-title">
                                <h1>Gelecek Ürünler</h1>
                                <p>
                                    Sizin İçin Seçilen En Kısa Zamanada Elimizde Olacak Ürünlerimiz
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        @foreach (var item in Model.products2)
                        {
                            <div class="col-lg-3 col-md-6">
                                <div class="single-product">
                                    <img src="@(item.Images.FirstOrDefault(x=>x.IsMain==true)?.PublicId==null?"https://res.cloudinary.com/drwyecoiw/image/upload/c_scale,h_250,w_250/f_auto,q_auto/vqzqxfbthc3ez7i18pim":"https://res.cloudinary.com/drwyecoiw/image/upload/c_scale,h_250,w_250/f_auto,q_auto/"+(item.Images.FirstOrDefault(x=>x.IsMain==true)?.PublicId))" alt="@item.ProductName" />
                                    <div class="product-details">
                                        <h6>
                                            @item.ProductName
                                        </h6>
                                        <div class="price">
                                            <h6>@item.Price ₺</h6>
                                        </div>
                                        <div class="prd-bottom">
                                            <a href="~/Sepet/AddToCart?productId=@item.ProductId" class="social-info">
                                                <span class="ti-bag"></span>
                                                <p class="hover-text">Sepete Ekle</p>
                                            </a>
                                            <a href="" class="social-info">
                                                <span class="lnr lnr-heart"></span>
                                                <p class="hover-text">İstek Listesi</p>
                                            </a>
                                            <a href="" class="social-info">
                                                <span class="lnr lnr-sync"></span>
                                                <p class="hover-text">Karşılaştır</p>
                                            </a>
                                            <a href="~/Ürün/Detay?urunAdi=@item.ProductName.Replace(" ","-")" class="social-info">
                                                <span class="lnr lnr-move"></span>
                                                <p class="hover-text">Detaylı İncele</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <br />
        </swiper-slide>

</section>
